body{
    background-size: cover;
}
/* body::before{
    content: "";

    background-image: url('hui.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
} */


h1{
    font-family: lato;
    font-size:25pt;
    justify-content: center;
    display: flex;
    margin-top:4rem;
}
footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 10px;
    margin-top:3rem;
}
h3{
    font-family: poppins;
    font-size:10pt;
}
h4 {
   color:white;
    font-family: poppins;
}

.navbar-brand2{
    color:white;
    font-family: poppins;
    font-size: 17pt;
    text-decoration: none;

}
.navbar-brand1{
    color:white;
    font-family: poppins;
    font-weight: normal;
    margin-left: 3rem;
    font-size: 15pt;
    text-decoration: none;
}
.nav-link{
    color:white;
    font-family: poppins;

}
.nav-link-disabled{
    color:white;
    text-decoration: none;
    font-family: poppins;
}